body{ 
	color: #333; 
	font-size: 62.5%; 
	background:  url(/LaVenta/css/images/img4.jpg) no-repeat center top; 
}

header h1{
	margin:0px;
	padding:7px;
	font-size:32px;
	color:#000;
    text-shadow:1px 1px 1px rgba(255,255,255,0.9);
	text-align:center;
	font-weight:400;
}

article { background: #000; }
header{ background: url(/LaVenta/css/images/logohome1.png) no-repeat left top; }
header span{
    display:block;
	font-size:14px;
	color:#666;
    font-style:italic;
    font-family:Georgia, serif;
	padding-top:3px;	
}
/*label, input { display:block; }*/
input.text { margin-bottom:12px; width:95%; padding: .4em; }
fieldset { padding:0; border:0; margin-top:25px; }
h1 { font-size: 1.2em; margin: .6em 0; }

div#users-contain { width: 350px; margin: 20px 0; }
div#users-contain table { margin: 1em 0; border-collapse: collapse; width: 100%; }
div#users-contain table td, div#users-contain table th { border: 1px solid #eee; padding: .6em 10px; text-align: left; }

.ui-dialog .ui-state-error { padding: .3em; }
.validateTips { border: 1px solid transparent; padding: 0.3em; }
	
/*Estilo del menu en root*/
.ui-menu { width: 150px; }
#closeSesion { float: right; }
#accesoSystem { float: left; margin-left: 1.35%; margin-top: 1%; }
#formLogin { margin-top: -5%; }
#formularioLogin { background: #ffffff url(../css/images/background_390x350.png) 50% 50% repeat-x; }
#tips {	margin-top: 35%; }


/**********************ESTILO PARA AGRUPAR FORMULARIOS PARA LA CLASE .cajaGrupos*********************/


fieldset div { margin-bottom: 2em; }
fieldset .help { display: inline-block; }
.ui-tooltip { width: 210px; }
/*form input{ float: right; margin-right: 3%; }*/
/*form select{ float: right; margin-right: 3.3%; }*/

.cajaGrupos {	

	display: inline-block;

	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
	border-top-right-radius: 4px;
	border-top-left-radius: 4px;

	padding-top: 1%;
	padding-left: 1%;
	padding-right: 1%;

	width: 97.2%;
	border: 2px solid rgb(170, 170, 170);
}

.cajaGrupos div label { display: inline-block; width: 30%; }
.cajaGrupos select{ width: 65%; }
.cajaGrupos input { width: 65%; }
.cajaGrupos textarea{ width: 66%; }

/***********************************************************************************************************************/




/**************************ESTILO PARA LOS BOTENES DE LA CAJA DE REGISTRO DE NUEVO USUARIO******************************/

#submitNewUser { float: right; margin-bottom: 2%; margin-right: 3.5%; border: 1px solid; }
#limpiarCampos { float: right; margin-right: 2%; border: 1px solid; }
#mensajeError { float: left; width: 100%; }

/***********************************************************************************************************************/

/**************************ESTILO PARA LOS BOTENES DE LA CAJA DE REGISTRO DE NUEVO MATERIAL*****************************/
#submitNewMaterial { float: right; margin-bottom: 2%; margin-right: 3.5%; border: 1px solid; }
#limpiarCamposMaterial { float: right; margin-right: 2%; border: 1px solid; }
#mensajeErrorMaterial { float: left; width: 100%; }

/***********************************************************************************************************************/

/**************************ESTILO PARA LOS BOTENES DE LA CAJA DE REGISTRO DE NUEVO MTTO.CM*****************************/

#submitNewMtto { float: right; margin-bottom: 2%; margin-right: 3.5%; border: 1px solid; }
#limpiarCamposMtto { float: right; margin-right: 2%; border: 1px solid; }
#mensajeErrorMtto { float: left; width: 100%; }

/***********************************************************************************************************************/



/**********************ESTILO PARA AGRUPAR FORMULARIOS PARA LA CAJA #cajaUsuarios *********************/

#cajaUsuarios {	

	display: inline-block;

	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
	border-top-right-radius: 4px;
	border-top-left-radius: 4px;

	padding-top: 1%;
	padding-left: 1%;
	padding-right: 1%;

	margin-top: 1%;

	width: 97.2%;

	border: 2px solid rgb(170, 170, 170);		
}

#cajaUsuarios div label { display: inline-block; width: 30%; }
#cajaUsuariosdiv select { width: 66%; }
#cajaUsuarios input { width: 65%; }

/***********************************************************************************************************************/

/**********************ESTILO PARA AGRUPAR FORMULARIOS PARA LA CAJA #cajaMateriales *********************/

#cajaMateriales {	

	display: inline-block;

	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
	border-top-right-radius: 4px;
	border-top-left-radius: 4px;

	padding-top: 1%;
	padding-left: 1%;
	padding-right: 1%;

	margin-top: 1%;

	width: 97.2%;

	border: 2px solid rgb(170, 170, 170);		
}

#cajaMateriales div label { display: inline-block; width: 30%; }
#cajaMaterialesdiv select { width: 66%; }
#cajaMateriales input { width: 65%; /*border: 2px solid;*/ }

/***********************************************************************************************************************/


/**********************ESTILO PARA LA CAJA DE LISTA DE USUARIOS*********************/

#statusListaUsuario, #statusListaUsuario_usuario, #statusListaUsuario_rde, #statusListaUsuario_rol { font-size: 1.0em; }
#listaUsuario .ui-selecting { background: #FECA40; }
#listaUsuario .ui-selected { background: #F39814; color: white; }
#listaUsuario { list-style-type: none; margin: 0; padding: 0; width: 100%; }
#listaUsuario li { margin: 3px; padding: 0.4em; font-size: 1.4em; height: 18px; }

/***********************************************************************************************************************/


/**********************ESTILO PARA LA CAJA DE LISTA DE MATERIALES.CM*********************/

#statusListaMaterial, #statusListaMaterial_cantidad, #statusListaMaterial_descripcion, #statusListaMaterial_observaciones { font-size: 1.0em; }
#listaMaterial .ui-selecting { background: #FECA40; }
#listaMaterial .ui-selected { background: #F39814; color: white; }
#listaMaterial { list-style-type: none; margin: 0; padding: 0; width: 100%; }
#listaMaterial li { margin: 3px; padding: 0.4em; font-size: 1.4em; height: 18px; }

/***********************************************************************************************************************/


/**********************ESTILO PARA LOS BOTONES DE EDICION DE LA LISTA DE USUARIOS*********************/

#borrarUsuario, #editarUsuario{ float: right; border: 1px solid; margin-top: -1%; margin-right: 0.5%; }

/***********************************************************************************************************************/

/**********************ESTILO PARA LOS BOTONES DE EDICION DE LA LISTA DE MATERIALES*********************/

#editarMat, #borrarMat{ float: right; border: 1px solid; margin-top: -1%; margin-right: 0.5%; }

/***********************************************************************************************************************/

/********************************************ESTILOS PARA EL SLIDER DE TEMPERATURAS*************************************/

/*CAMBIA COLOR DEL RANGO DE LA BARRA*/
#divTempAmb .ui-slider-range{ background: #ff0000; }
#divTempAmb { float: left; width: 45%; }
#divTempAmb input{ width: 10%; }
#divTempEng .ui-slider-range{ background: #ff0000; }
#divTempEng { float: right; width: 45%; }
#divTempEng input{ width: 10%; }
#divTempEng label{ width: 80%; }
#divTempHid .ui-slider-range{ background: #ff0000; }
#divTempHid { float: left; width: 45%; }
#divTempHid input{ width: 10%; }
#divTempHid label{ width: 80%; }
#divTempGenElec .ui-slider-range{ background: #ff0000; }
#divTempGenElec { float: right; width: 45%; }
#divTempGenElec input{ width: 10%; }
#divTempGenElec label{ width: 80%; }


/*****************************************************************************************************************************************/ 
/********************************************************** PESTAÑA DEL STATUS ***********************************************************/


#I01 .ui-progressbar-value{ 
	background-color: rgb(18, 125, 27); 
	background-color: rgb(0, 255, 0); 
}

#I03 .ui-progressbar-value{ 
	background-color: rgb(18, 125, 27); 
	background-color: rgb(255, 255, 0); 
}

#I01 label, #I03 label{
	float: left;
	border-right: 50%;
	padding-left: 49%;
	top: 8px;
	font-weight: bold;
}

/*******************************************/

/*#tablaCapUnidad1{ border-collapse: collapse; width: 940px; text-align: center; margin: auto; }
#tablaCapUnidad1 th{ border: 1px solid #999; padding: 8px; background: #F8F8F8; }
#tablaCapUnidad1 tr{ display: table-row; vertical-align: inherit; border-color: inherit; }
#tablaCapUnidad1 td{ border: 1px solid #999; padding: 6px; }*/

/*****************************************************************************************************************************************/ 
/********************************************************** PESTAÑA GESTION DE LA CENTRAL ************************************************/

#submitEditarCentral-sec5, #submitGuardarCentral-sec5, #limpiarCamposUnidad-sec5, #submitNewUnidad-sec5 {
	float: right;
	margin-bottom: 2%; 
	margin-right: 3.5%; 
	border: 1px solid; 
}

#inputSuperCentral-sec5 {
	/*width: 50%;*/
	/*float: left;*/
}

/*caja emergente para pedir contraseña del administrador*/
#mensajeEditarCentral-sec5 label{
	text-align: center;
	padding-top: 15px;
	padding-bottom: 2px;
	margin-bottom: 4%;
}

#mensajeEditarCentral-sec5 input{
	text-align: center;	
	margin-left: 25%
	padding-top: 2px;
	padding-bottom: 2px;
	margin-bottom: 20px
}

/*estilo para los inputs de los datos de la central*/
#datosCentral-sec5 fieldset div{
	/*border: 2px solid;*/
	margin-bottom: 4%;
}

#datosUnidad-sec5 fieldset div{
	margin-bottom: 4%;
}


/***********************************************************************************************************************************************/ 
/********************************************************** PESTAÑA CATALOGO DE AEROGENERADORES ************************************************/

#submitNewAero-sec3, #limpiarCampos-sec3 {
	float: right;
	margin-bottom: 2%;
	margin-right: 3.5%;
	border: 1px solid;	
}

/******************************************************************************************************************************************/ 
/********************************************************* PESTAÑA DEL CATALOGO DE SISTEMAS ***********************************************/



/*******************************************************************************************************************************************/ 
/******************************************************** PESTAÑA DEL CATALOGO DE COMPONENTES **********************************************/


/*******************************************************************************************************************************************/ 
/********************************************************** PESTAÑA DEL CATALOGO DE USUARIO ************************************************/

/* estilo para la ventana emergente de edicion de usuarios*/
#cajaEditUsuarios {	
	display: inline-block;

	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
	border-top-right-radius: 4px;
	border-top-left-radius: 4px;

	padding-top: 1%;
	padding-left: 1%;
	padding-right: 1%;

	margin-top: 1%;
	width: 95%;
	border: 2px solid rgb(170, 170, 170);		
}

#cajaEditUsuarios div label { display: inline-block; width: 25%; }
#cajaEditUsuarios select { width: 66%;}
#cajaEditUsuarios input { width: 65%; /*border: 2px solid;*/ }

/************************************************************************************************************************/ 
/*********************************************** PESTAÑA DEL CATALOGO DE MATERIALES *************************************/




/***********************************************************************************************************************************************/ 
/***********************************************************************************************************************************************/ 
/***********************************************************************************************************************************************/ 
/***********************************************************************************************************************************************/ 
/***********************************************************************************************************************************************/ 
/***********************************************************************************************************************************************/ 